In [1]:
import pandas as pd

In [2]:
#dataset loading
dataset = pd.read_csv("C:/Users/avish/Desktop/Sem 8/Final Project/Heart_Disease_Prediction/CVD/data/heart.csv")

In [3]:
print("The shape of the data is: " ,dataset.shape)
dataset.head() #the first five rows of the dataset

The shape of the data is:  (1025, 14)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
# get the descriptive statistics of the dataset
dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [5]:
print("The dataset has the following types of parameters\n",dataset.dtypes)

The dataset has the following types of parameters
 age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [6]:
#check for the missing values in the dataset
print("How many missing values are there in the dataset?\n",dataset.isnull().sum())

How many missing values are there in the dataset?
 age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
# Data Dictionary
# age in years
# sex 1-male, 0-female
# cp - chest pain 0,1,2,3
# trestbps - resting blood pressure in mm Hg
# chol - cholestrol in mg/dl
# fbs - fasting blood sugar > 120 mg/dl
            # 1 -true, 0 -false
# restecg - resting ECG 0,1,2
# thalach - maximum heart rate achieved 
# exang - exercise induced angina 1-yes, 0-no
# oldpeak - ST depression induced by exercise relative to rest
# slope - slope of the peak exercise ST segment 0,1,2
# ca - number of major vessels 0,1,2,3
# thal
            # 0 = error
            # 1 = fixed defect
            # 2 = normal
            # 3 = reversable defect
# target 0-no disease, 1-disease

In [10]:
# dropping the wrong ca vlaues and error values from thal
dataset = dataset[dataset['ca']<4]
dataset = dataset[dataset['thal']>0]
print(f'THe length of the data row now is {len(dataset)} instead of 1025')

THe length of the data row now is 1000 instead of 1025